* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(52, 49, 87);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex: 0 0 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 38, 66);
    width: 100%;
    height: 60px;
    padding: 10px;
}

main {
    flex: 1;
    min-height: 0;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: rgb(90, 86, 140) rgb(31, 29, 54);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100%;
    background-color: rgb(31, 29, 54);
    border-radius: 5px;
    padding: 5px;
}

.topButtons {
    display: flex;
    height: 100%;
    padding: 5px;
    align-items: center;
    border-radius: 5px;

    & img {
        height: 100%;
        width: 100%;
        filter: invert(100%);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

#menuButton {
    display: none;
    height: 100%;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);

    & img {
        height: 100%;
        width: 100%;
        filter: invert(100%);
    }
}

#sideBar {
    display: none;
    position: fixed;
    flex-direction: column;
    width: max-content;
    height: max-content;
    background-color: rgba(0,0,0,0.5);
    padding: 2px;
    top: 60px;
    right: -155px;
    z-index: 1;
    transition: right 0.2s ease-out;
}

.sideButtons {
    display: flex;
    height: 30px;
    width: 145px;
    margin: 3px;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;

    & div {
        margin-left: 5px;
        width: 100%;
        text-align: start;
        text-decoration: none;
        color: white;
        font-size: 20px;
    }

    & img {
        width: 30px;
        filter: invert(100%);
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }
}

@media screen and (width <= 500px) {
    header nav {
        display: none;
    }

    #menuButton {
        display: flex;
    }

    #sideBar {
        display: flex;
    }
}

@media screen and (width <= 300px) {
    nav {
        display: none;
    }

    #menuButton {
        display: flex;
    }
}